{% extends "janeiro/base.html" %}
{% load i18n static %}

{% block body %}
    <div class="image">
        <img src="{% static "/janeiro/assets/career1.jpeg" %}" alt="about">
    </div>
    <div class="wrapper">
        <h1>Careers at Janeiro Hospital</h1>
        <p>
            Would you like to advance you career at Janeiro Hospital? We offer a wide range of career opportunities
            across various departments. We have openings for healthcare professionals, including doctors, nurses,
            technicians, and therapists. Additionally, we have administrative and support staff positions, such as
            receptionists, medical coders, and billing specialists. <span>To apply for a position at our hospital, browse through the available job openings and apply by submitting your resume.</span>
        </p>

        <div class="openings">
            <h2>Job Openings</h2>
            {#            <p>Currently there are no job openings at our hospital.</p>#}


            <div class="item">
                <br>
                <h3>Resident Doctor</h3>
                <p>
                    We are looking to add to our space a resident doctor at our hospital. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Explicabo quasi doloribus eos quas et id eum vero, perferendis nihil
                    itaque, accusamus cum. Porro facilis consequuntur, ut dolores voluptas harum recusandae.
                </p>

                <details>
                    <summary>Roles</summary>
                    <ul>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                    </ul>
                </details>
                <details>
                    <summary>Requirements</summary>
                    <ul>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                    </ul>
                </details>
                <details>
                    <summary>How to apply</summary>
                    <p>
                        To apply for this role, submit your resume to <a href="mailto:">dknjore@gmail.com</a> with the
                        position as the subject.
                    </p>
                </details>
            </div>
            <div class="item">
                <h3>Junior Nurse</h3>
                <p>
                    We are looking to add to our space a junior nurse at our hospital. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Explicabo quasi doloribus eos quas et id eum vero, perferendis nihil
                    itaque, accusamus cum. Porro facilis consequuntur, ut dolores voluptas harum recusandae.
                </p>

                <details>
                    <summary>Roles</summary>
                    <ul>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                    </ul>
                </details>
                <details>
                    <summary>Requirements</summary>
                    <ul>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                        <li>Surgery</li>
                    </ul>
                </details>
                <details>
                    <summary>How to apply</summary>
                    <p>
                        To apply for this role, submit your resume to <a href="mailto:">dknjore@gmail.com</a> with the
                        position as the subject.
                    </p>
                </details>
            </div>

        </div>
    </div>
    <div class="faqs">
        <div class="wrapper">
            <h2>FAQs
            </h2>
            <details>
                <summary>How can I apply for a job at your hospital?</summary>
                <p>
                    To apply for a job at our hospital, please visit our careers page on our website. You can browse
                    through the available job listings and apply directly online by submitting your resume.
                </p>
            </details>
            <details>
                <summary>Do you offer internships or residency programs for medical students?</summary>
                <p>
                    Yes, we offer internships and residency programs for medical students. These programs provide
                    valuable hands-on experience and training under the guidance of experienced healthcare
                    professionals. Please visit our careers page or contact our Human Resources department for more
                    information about our internship and residency opportunities
                </p>
            </details>
            <details>
                <summary> Can I submit a general application if there are no current job openings?</summary>
                <p>
                    Yes, you can submit a general application even if there are no current job openings that match your
                    qualifications. We keep general applications on file and review them when new positions become
                    available. If your skills and experience align with an open position, we will contact you for
                    further consideration.
                </p>
            </details>
            <details>
                <summary>Can I volunteer at your hospital?</summary>
                <p>
                    Yes, we have a volunteer program at our hospital. Volunteers play a vital role in supporting our
                    staff and enhancing the patient experience. If you are interested in volunteering, please contact
                    our Volunteer Services department for more information.
                </p>
            </details>
        </div>
    </div>
{% endblock %}