{% extends "janeiro/base.html" %}
{% load i18n static %}

{% block body %}
    <div class="image">
        <img src="{% static "/janeiro/assets/news.jpg" %}" alt="about">
    </div>
    <div class="wrapper">
        <h1>News and Media</h1>
        <p>
            Welcome to Janeiro Hospital's News and Media page, your trusted source for the latest medical updates. Stay
            informed and connected as we bring you the most recent advancements, breakthroughs, and insights from the
            world of healthcare.
        </p>

        <div class="update">
            <a href="{% static "/janeiro/assets/sickle.png" %}">
                <div class="text">
                    <h2>World Sickle Cell Day</h2>
                    <p>
                        Every year on June 19th, people around the globe come together to observe World Sickle Cell Day.
                        This international awareness day aims to shed light on a genetic blood disorder called sickle
                        cell disease (SCD) and honor the strength and resilience of those affected by it. <span>Read more.</span>
                    </p>
                </div>
                <div class="image">
                    <img src="{% static "/janeiro/assets/sickle.png" %}" alt="sickle cell">
                </div>
            </a>
        </div>


    </div>
{% endblock %}