{% extends "janeiro/base.html" %}
{% load i18n static %}

{% block body %}
    <div class="image">
        <img src="{% static "/janeiro/assets/news.jpg" %}" alt="about">
    </div>
    <div class="wrapper">
        <h1>News and Media</h1>
        <p>
            Welcome to Janeiro Hospital's News and Media page, your trusted source for the latest medical updates. Stay
            informed and connected as we bring you the most recent advancements, breakthroughs, and insights from the
            world of healthcare.
        </p>
        {% for article in articles %}
            <div class="update">
                <a href="{{ article.get_absolute_url }}">
                    <div class="text">
                        <h2>{{ article.title }}</h2>
                        <p>{{ article.content |safe|striptags|truncatechars:250 }}<span>Read more.</span>
                        </p>
                    </div>
                    <div class="image">
                        <img src="{{ article.cover_image.url }}" alt="sickle cell">
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}