{% extends "janeiro/base.html" %}
{% load i18n static %}

{% block body %}
    <div class="image">
        <img src="{% static "/janeiro/assets/theatre1.JPG" %}" alt="about">
    </div>
    <div class="wrapper">

        <h1>Our Services</h1>
        <p>
            At Janeiro Hospital, we are committed to providing compassionate care and
            exceptional medical services to our patients. Choosing our hospital means opting for an unparalleled
            healthcare experience where expertise, advanced technology, compassion, and patient-centric care converge.
            We are dedicated to improving the health and well-being of our clients, and we invite you to experience the
            exceptional care we provide. Trust us with your healthcare needs, and together, we can achieve optimal
            health and a better quality of life.
        </p>
        <ul>
            <p>These services include:</p>
            <li><a href="#maternity">Maternity & Pediatrics (MCH, Family Planning, Counselling)</a></li>
            <li><a href="#theatre">Theatre Services (Major & Minor)</a></li>
            <li><a href="#patient">In-Patient & Out-Patient Services (Lab, Accident & Emergency, Pharmacy)</a></li>
            <li><a href="#x-ray">Imaging Services (Ultrasound & X-Ray)</a></li>
            <li><a href="#clinic">Special Clinics (General Surgery, Orthopedic Gynecology)</a></li>
        </ul>
        <h2 id="maternity">Maternity & Pediatrics (MCH, Family Planning, Counselling)</h2>
        <div class="image">
            <img src="{% static "/janeiro/assets/services.JPG" %}" alt="maternity">
        </div>
        <p>
            At Janeiro we understand the unique needs and importance of comprehensive healthcare for expectant mothers,
            newborns, infants, children, and adolescents. We take pride in offering exceptional maternity and pediatrics
            services that prioritize the well-being and development of the future generation. With a
            compassionate team of specialized healthcare professionals and family-centered care approach, we provide a
            nurturing environment for every stage of your child's journey. Choosing our hospital for maternity and
            pediatrics care means entrusting the well-being and future of your child to a compassionate and
            dedicated team. We are committed to providing exceptional care, ensuring the health, safety, and development
            of both mothers and children.
        </p>
        <h2 id="theatre">Theatre Services (Major & Minor)</h2>
        <div class="image">
            <img src="{% static "/janeiro/assets/theatre3.JPG" %}" alt="theatre">
        </div>
        <p>We take pride in offering cutting-edge theatre services for both minor and major surgeries. We understand the
            critical role that surgical interventions play in improving the health and well-being of our patients. With
            state-of-the-art operating theaters, advanced technology, and a team of highly skilled surgeons and support
            staff, we are committed to delivering excellence in surgical care. Our surgical team consists of highly
            skilled and experienced surgeons who specialize in various disciplines. Our surgeons are supported by a
            dedicated team of anesthesiologists, nurses, and surgical technologists, all
            working collaboratively to ensure a seamless surgical experience. We take pride in our team's commitment to
            patient safety, surgical excellence, and compassionate care.</p>

        <h2 id="patient">In-Patient & Out-Patient Services (Lab, Accident & Emergency, Pharmacy)</h2>
        <div class="image">
            <img src="{% static "/janeiro/assets/clinics.JPG" %}" alt="inpatient outpatient">
        </div>

        <p>We are dedicated to providing comprehensive healthcare services that cater to the diverse needs of our
            patients. Whether you require inpatient care for more complex conditions or prefer the flexibility of
            outpatient services,
            we offer a range of high-quality and patient-centered options. With a focus on excellence, compassion, and
            personalized care, we strive to ensure your well-being throughout your healthcare journey.</p>
        <p><span><strong>Inpatient Services:</strong> Our inpatient services are designed to provide comprehensive care for patients requiring a higher level of medical attention, complex treatments, or surgical procedures. We offer comfortable and well-equipped rooms to ensure a restful and healing environment during your stay. Our dedicated team of healthcare professionals, including doctors, nurses and specialists work collaboratively to deliver personalized care, monitor your progress, and manage your treatment plan. Our inpatient services are tailored to meet your specific needs.</span>
        </p>
        <p><span><strong>Outpatient Services:</strong> We understand that not all medical conditions require
            hospitalization, and many patients prefer the convenience of outpatient services. Our outpatient services are designed to provide timely and efficient care, allowing you to receive treatment, consultations, and diagnostic procedures without an overnight stay. Our outpatient services encompass a wide range of medical specialties, including routine check-ups, diagnostic imaging, laboratory tests, specialist consultations, minor surgeries, and counselling programs.</span>
        </p>

        <h2 id="x-ray">Imaging Services (Ultrasound & X-Ray)</h2>
        <div class="image">
            <img src="{% static "/janeiro/assets/eye.JPG" %}" alt="x-ray">
        </div>
        <p>We understand the critical role that diagnostic imaging plays in accurately
            assessing and diagnosing various medical conditions. With a commitment to utilizing cutting-edge technology,
            we offer exceptional ultrasound and X-ray services. Whether you require detailed imaging for precise
            diagnosis or routine screenings, our comprehensive diagnostic imaging services are designed to provide you
            with accurate results and personalized care. We offer tests on Ultrasounds, Doppler ultrasound, Abdominal
            ultrasound scan, Pelvic ultrasound scan, Obstetric ultrasound, Thyroid ultrasound, Testicular ultrasound
            scan and
            Prostatic ultrasound scan.
        </p>

        <h2 id="clinic">Special Clinics (General Surgery, Orthopedic Gynecology)</h2>
        <div class="image">
            <img src="{% static "/janeiro/assets/GeneralSurgery.jpg" %}" alt="clinic">
        </div>
        <p>At our hospital, we take pride in offering a range of specialized clinics that cater to specific medical
            conditions and provide focused care. These clinics are staffed by expert healthcare professionals who have
            extensive knowledge and experience in their respective fields. Our specialized clinics are
            designed to address the unique needs of patients with specific conditions, ensuring that they receive
            comprehensive care, tailored treatment plans, and the support they require. <br></p>
        <p><span><strong>Orthopedic Clinic:</strong> Our orthopedic clinic focuses on the diagnosis, treatment, and rehabilitation of musculoskeletal conditions. With a team of skilled orthopedic surgeons, sports medicine specialists, and physiotherapists, we offer comprehensive services for bone and joint disorders, sports injuries, fractures, and arthritis management. Our goal is to restore mobility, relieve pain, and improve the quality of life for our patients through a combination of conservative treatments and surgical interventions when necessary.</span>
        </p>
        <p><span><strong>Gynecology and Women's Health Clinic:</strong> Our gynecology and women's health clinic provides specialized care for women of all ages. Led by compassionate gynecologists and women's health specialists, we offer a wide range of services, including preventive screenings, prenatal care, reproductive health management, family planning, menopause management, and treatment of gynecological conditions.
        </p>
        <p>We strive to provide a supportive and comfortable environment, where women can receive personalized care and
            access the resources they need to maintain their health and well-being. Our specialized clinics at our
            hospital are designed to provide comprehensive and focused care for specific medical conditions. With a team
            of expert healthcare professionals, advanced diagnostic technologies, and personalized treatment plans, we
            strive to ensure the best possible outcomes for our patients. Trust our specialized clinics to deliver
            exceptional care, tailored to your unique needs, and support you on your journey towards improved health and
            well-being.</span></p>
    </div>
{% endblock %}